<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>ACCOUNT ACCESS</span>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Endpoint</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="text" value=model.%%DRIVERNAME%%Config.endpoint classNames="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">API Key</label>
      </div>
      <div class="col-sm-12 col-md-10">
        {{input type="text" value=model.%%DRIVERNAME%%Config.apiKey classNames="form-control" placeholder="Your BT Cloud Compute API Key"}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Secret Key</label>
      </div>
      <div class="col-sm-12 col-md-10">
        {{input type="text" value=model.%%DRIVERNAME%%Config.secretKey classNames="form-control" placeholder="Your BT Cloud Compute Secret Key"}}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>VIRTUAL MACHINE</span>
    </div>
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Availability Zone</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{new-select
          classNames="form-control"
          content=zones
          optionLabelPath='zone'
          optionValuePath='uuid'
          value=model.%%DRIVERNAME%%Config.location
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Service Offering</label>
      </div>
      <div class="col-sm-12 col-md-10">
        {{input type="text" value=model.%%DRIVERNAME%%Config.serviceOffering classNames="form-control"}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Template</label>
      </div>
      <div class="col-sm-12 col-md-10">
        {{input type="text" value=model.%%DRIVERNAME%%Config.template classNames="form-control"}}
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
